name: "Build and run tests"
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 9, 10, 11 ]
    steps:
      - uses: actions/checkout@v2
      - name: Use Java ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Build and test
        run: ./gradlew build